<div class="container">
    <h1>Білл Гейтс</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Bill_Gates_-_2023_-_P062021-967902_%28cropped%29.jpg/330px-Bill_Gates_-_2023_-_P062021-967902_%28cropped%29.jpg" alt="Портрет Білла Гейтса">
    <p>
      Білл Гейтс – американський підприємець, програміст і філантроп. Він є співзасновником компанії Microsoft,
      яка відіграла ключову роль у розвитку комп'ютерної індустрії. Гейтс також відомий своєю активною
      благодійністю через фонд Білла та Мелінди Гейтс.
    </p>
    <p>Цитати Білла Гейтса:</p>
    <ul>
      <li>Patience is a key element of success.</li>
      <li>If you think your teacher is tough, wait till you get boss.</li>
      <li>Life is not fair — get used to it!</li>
      <li>Success is a lousy teacher. It seduces smart people in thinking they can't lose.</li>
      <li>Be nice to nerds.</li>
    </ul>
    <p>Більше інформації про Білла Гейтса:</p>
    <ul>
      <li><a href="https://en.wikipedia.org/wiki/Bill_Gates">Wikipedia</a></li>
      <li><a href="https://www.gatesfoundation.org/">Bill & Melinda Gates Foundation</a></li>
      <li><a href="https://www.gatesnotes.com/">Gates Notes</a></li>
      <li><a href="https://twitter.com/billgates">Twitter</a></li>
    </ul>
  </div>
  